@media(min-width:768px){
    .container{
        display: flex;
        /* height: 30%;
        padding-top: 60px;
        width: 100%;
        padding-bottom: 50px; */
        justify-content: center;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
    
    
    }

}



.container div{
    border: #ccc solid ;
    height: fit-content;
    padding: 10px;
}
/* .boxOne{
    flex: 1;

}
.boxTwo{
    flex: 1;
    align-items: center;
    align-content: center;
    


}
.boxThree{
    flex: 1;

} */
.box{
    flex-basis: auto;
    background-color: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    
    
}

.img{
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 40%;
 transform: translate();
}

.box p{
    display: block;
    text-align: center;
    text-overflow: initial;
    margin: 20PX 50px;
}

.ptag{
    text-align: center;
}